#contactWrapper input:active,
#contactWrapper input:focus {
  outline: none !important;
}

#contactWrapper textarea:active,
#contactWrapper textarea:focus {
  outline: black !important;
}

@media screen and (min-width: 1200px) {
  #contactWrapper {
    display: flex;
  }

  #contactWrapper section {
    flex-basis: 50%;
  }

  #contactWrapper form {
    flex-basis: 50%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contactWrapper input {
    border: none;
    border-bottom: solid 1px black;
    padding: 0.5em;
    width: 70%;
    font-size: 1.1em;
    margin: 1em 0;
  }

  #contactWrapper input[type='submit'] {
    background-color: white;
    border: solid 1px #3e7cb1;
    width: 50%;
    margin: 5% 25%;
    border-radius: 25px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #contactWrapper input[type='submit']:hover {
    color: white;
    background-color: #3e7cb1;
    cursor: pointer;
  }

  #contactWrapper textarea {
    padding: 0.5em;
    margin-top: 2em;
    font-size: 1.1em;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1200px) {
  #contactWrapper input {
    width: 100%;
    height: 1em;
    margin: 1em 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    font-size: large;
  }

  #contactWrapper input[type='submit'] {
    font-size: medium;
    font-weight: normal;
    height: 3em;
    color: black;
    background-color: white;
    border: solid 1px black;
    width: 50%;
    margin: 5% 25%;
    border-radius: 25px;
  }

  #contactWrapper textarea {
    margin-top: 2em;
    width: 96%;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
  }

  #contactWrapper form input ::placeholder {
    font-size: 2em;
    color: black;
  }
}
